$width: 75px;

@keyframes shoot {
  0% {
    opacity: 0;
    width: 120%;
  }
  100% {
    opacity: 100%;
    width: $width;
  }
}

.dragon-ball {
  margin: auto;
  width: $width;

  fill: orange;

  animation: shoot 3s;
}
